#envelope {
	width: 960px;
	background-color: #c3c3c3;
	font-family: helvetica, sans-serif;
	overflow: hidden;
}
#Titulo {
	margin: 0px;
	padding: 10px 10px 10px 15px;
	background-color: #595959;
	color: #b7b7b7;
}
#menu ul li a {
	text-decoration: none;
	color: white;
}
#menu ul li {
	list-style: none;
	display: inline-block;
	padding: 10px 15px;
}
#menu ul {
	margin: 0;
	padding: 0;
	background-color: #969696;
}
#menu ul li:hover {
	background-color: #727272;
}
#menu ul li a:hover {
	text-decoration: underline;
}
#principal {
	float: left;
	width: 590px;
	background-color: #e2e2e2;
	padding: 5px; 
}
#side-bar {
	float: right;
	width: 350px;
	padding: 5px;
}
#roda-pe {
	clear: both;
	background-color: #606060;
	padding: 5px 15px  15px 5px; 
}
#roda-pe hr {
	margin: -15px 0px 10px 0px ;
}
#roda-pe ul {
	display: inline-table;
	width: 290px;
	list-style: none;
	margin: 0;
	padding-left: 20px;
}
#roda-pe ul li {
	padding: 3px;
}
#roda-pe ul li h3 {
	font-size: 19px;
	color: #b7b7b7;
}
#roda-pe ul li a {
	text-decoration: none;
	color: #b7b7b7;
}
#roda-pe ul li i {
	color: #b7b7b7;
}
#roda-pe ul li p {
	color: #b7b7b7;
}
